@import './variables';
@import './global';
@import './hero';
@import './problema';
@import './o-que-e';
@import './how-it-works';

@import './o-que-vai-aprender';
@import './final-details';
@import './cta-final';
@import './dashboard-grid';
